.chart-container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.chart {
  height: 500px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
